<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ricogmb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ricogmb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RicoGMB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RicoGMB</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=&quot;E:\Users\New User\Documents\GitHub\2015\WebApplication1\WebApplication1\App_Data\aspnet-WebApplication1-20150321111920.mdf&quot;;Initial Catalog=aspnet-WebApplication1-20150321111920;Integrated Security=True;User Instance=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RicoGMB.Models.ApplicationDbContext, RicoGMB" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDb)\v11.0;AttachDbFilename="E:\Users\New User\Documents\GitHub\2015\WebApplication1\WebApplication1\App_Data\aspnet-WebApplication1-20150321111920.mdf";Initial Catalog=aspnet-WebApplication1-20150321111920;Integrated Security=True;User Instance=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>